{% extends "layouts/_base.twig" %}
{# query #}

{% block body %}
<article class="article">
    <header class="article__header">
        <div class="article__header__content">
            <h1 class="article__header__content__title">{{ entry.caseName }}</h1>
            <div class="article__header__content__description">{{ entry.projectContent }}</div>
        </div>
        <figure class="article__header__figure">
            <img src="{{ entry.projectLargeImage.first().url }}" alt="{{entry.title}} - case image">
        </figure>
    </header>
    {% for block in entry.projectBreakdown %}
        {% set colorMode = block.two_darksection %}
        {% if colorMode == false %}
        <section class="section section--light section--spacing">
        {% else %}
        <div class="section-wrapper--dark section--spacing">
            <section class="section section--dark">
            {% endif %}
            
            <div class="container">
            {% if block.type == 'descriptiveContent' %}
            <h2>{{ block.two_title }}</h2>

            {{ block.two_content }}
            {{ block.two_image.first() }}
            {% elseif block.type == 'largeImage' %}
            LI
            {% endif %}
            </div>
            </section>
        {% if colorMode == true %}
        </div>
        {% endif %}
    {% endfor %}
</article>

{% endblock %}