{% extends "layouts/_base.twig" %}
{# query #}
{% set section = entry.getSection() %}
{% set entry = craft.entries.section(section).one() %}
{% set tag = craft.tags.search('featured').one() %}

{% block body %}
<div class="entry-content section section--light">
</div><!-- Filler -->
<section class="anti-section anti-section--light overflow-hidden"><!-- Intro section -->
    <div class="container container--no-padding container--no-column">
        <div class="anti-section__1-2" id="intro-text">
            <h1 class="jumbo-text flex-50">{{entry.slogan}}</h1>
            <div class="job-experience">
            <div class="achievement-section">
                <div class="achievement-section__achievement">
                    {% set minimumYear = 2019 %}
                    {% set currentYear = "now"|date("Y") %}  
                    {% set yearDiff = (currentYear - minimumYear) %}
                    <span class="achievement-section__achievement__year">{{yearDiff}}</span>
                    <span class="achievement-section__achievement__description">{{ 'years of experience'|t }}</span>
                </div>
                <div class="achievement-section__achievement">
                    {% set webCat = craft.categories.search('website').one() %}
                    {% set websites = craft.entries.relatedTo(webCat).total %}
                    <span class="achievement-section__achievement__year">{{websites}}+</span>
                    <span class="achievement-section__achievement__description">{{ 'websites built'|t }}</span>
                </div>
                <div class="achievement-section__achievement">
                    {% set appCat = craft.categories.search('webapp').one() %}
                    {% set webapps = craft.entries.relatedTo(appCat).total %}
                    <span class="achievement-section__achievement__year">{{webapps}}+</span>
                    <span class="achievement-section__achievement__description">{{ 'webapps built'|t }}</span>
                </div>
            </div>
            <div class="sub-slogan block-text">
                {{entry.sloganSub}}
            </div>
            </div>
        </div>
        <div class="anti-section__3">
                {% set casesUrl = craft.entries.search('cases').one %}
            <a href="{{casesUrl.url}}" class="btn btn--pop margin-auto">{{ 'Work'|t }} <svg viewBox="0 0 24 24" class="icon icon__chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
        </div>
        
    </div>
</section><!-- End intro section -->
<section class="anti-section anti-section--light overflow-hidden"><!-- Image section -->
    <div class="image-wrapper" id="rock-on-homepage">
        <canvas id="canvas3d"></canvas>
    </div>
</section><!-- End image section -->
<section class="section section--light"><!-- About me section -->
    <div class="container">
        <h2>{{ 'About Me'|t }}</h2>
        {{entry.aboutMe}}
    </div>
</section><!-- End about me section -->
<section class="section section--light"><!-- Skill section -->
    <div class="container">
        <h2>{{ 'My Fullstack Skillset'|t }}</h2>
        {% if entry.skills|length %} 
            <div class="skills">
            {% for block in entry.skills.type('matrixSkill').all() %}
                <div class="skills__skill">
                    <div class="skills__skill__skill-index">0{{loop.index}}/</div>
                    <div class="skills__skill__content">
                        <h3>{{ block.skillTitle }}</h3>
                        <p>{{ block.skillDescription }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</section><!-- End skill section -->
<section class="anti-section anti-section--light"><!-- Project section -->
    <div class="container container--mimic-section-margin">
        <h2>{{ 'Projects I\'m especially proud of!'|t }}</h2>
        <div class="portfolio-items">
        {% set cases = craft.entries.relatedTo(tag).all %}
            {% for block in cases %}
                <div class="portfolio-items__item">
                    {% if block.award %}
                        <a class="portfolio-items__item__award" rel="noreferrer" target="_BLANK" href="{{ block.award }}">Award winning</a>
                    {% endif %}
                    <a href="{{block.url}}">
                        {% set asset = block.projectThumbnail.first() %}
                        <div class="image-wrapper">
                            <img src="{{ asset.url }}" alt="{{asset.title}} - Project Thumbnail"/>
                        </div>
                    </a>
                    {% for categories in block.projectCategory %}
                    <small><a href="{{categories.url}}">{{categories.title}}</a></small>
                    {% endfor %}
                    <a class="a-unstyled" href="{{block.url}}"><h3>{{ block.caseName }}</h3></a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="portfolio-more-work-cta">
        {# casesUrl already called #}
        <a href="{{casesUrl.url}}">
        <div id="portfolio-more-work-cta__content">
            {{ 'View all my projects'|t }}
        </div>
        <img src="{{ alias('@web') }}/assets/images/waves-min.jpg" alt="Wavy Pattern Portfolio CTA">
        </a>
    </div>
</section><!-- End project section -->
<div class="entry-content section section--light">
</div><!-- Filler -->

{% endblock %}