{% extends "layouts/_base.twig" %}

{% block body %}

<div class="entry-content section section--light">
</div><!-- Filler -->
<section class="section section--light">
    <div class="container">
        <h1 class="page-intro-title jumbo-text">{{ 'Cases'|t }}: {{category.title}}</h1>
        <div class="portfolio-items">
            {% for block in craft.entries.section('case').relatedTo({targetElement: category}) %}
                <div class="portfolio-items__item">
                {% if block.award %}
                    <a class="portfolio-items__item__award" rel="noreferrer" target="_BLANK" href="{{ block.award }}">Award winning</a>
                {% endif %}
                <a href="{{block.url}}">
                {% for asset in block.projectThumbnail %}
                <div class="image-wrapper ">
                    <img src="{{ asset.url }}" alt="{{asset.title}} - Project Thumbnail">
                </div>
                {% endfor %}
                </a>
                {% for categories in block.projectCategory %}
                <small><a href="{{categories.url}}">{{categories.title}}</a></small>
                {% endfor %}
                <a class="a-unstyled" href="{{block.url}}"><h3>{{ block.caseName }}</h3></a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<div class="entry-content section section--light">
</div><!-- Filler -->
{% endblock %}